
<section id="features" class="features">

    <div class="container">

        <div class="text-center">
            <h2>MACFIXXIT</h2>
            <h4>We bring premium Service to everyone, ensuring you're reconnected quickly and effortlessly!</h4><br><br><br><br>
        </div>

        <p></p>



        <div class="row" data-aos="fade-up" data-aos-delay="300" >
            <div class="col-lg-4 col-md-4 mt-4" id="one">
                <div class="icon-box">

                    <h3>One Hour Service</h3><br>
                    <i class="bi bi-alarm-fill" style="color: #11dbcf;"></i>
                </div>
                <p></p>
                <span class="hidden">We have a ready inventory of parts that enables us to offer One Hour Service to our Clients for
                    iPhone repair in Mumbai. Most minor issues are resolved within 15 minutes.</span>
            </div>
            <div class="col-lg-4 col-md-4 mt-4" id="two">
                <div class="icon-box">

                    <h3>Certified Engineers</h3>
                    <i class="bi bi-person-arms-up" style="color: #5578ff;"></i>
                </div>
                <p></p>
                <span class="hidden">Our engineers and technicians hold M+ certifications at various stages of the repair process. We
                    are committed to continuous learning and have invested in Macbook repair certifications in
                    Mumbai.</span>
            </div>
            <div class="col-lg-4 col-md-4 mt-4" id="three">
                <div class="icon-box">

                    <h3>Original Parts</h3>
                    <i class="bi bi-motherboard-fill" style="color: #e80368;"></i>
                </div>
                <p></p>
                <span class="hidden">We maintain an extensive inventory of parts that allows us to provide a One-Hour Service for
                    iPhone repairs in Mumbai, with most minor issues being fixed within just 15 minutes.</span>
            </div>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="300">
            <div class="col-lg-4 col-md-4 mt-4" id="four">
                <div class="icon-box">

                    <h3>Free Pickup of your device</h3>
                    <i class="bi bi-car-front-fill" style="color: #0c625c;"></i>
                </div>
                <p></p>
                <span class="hidden">We offer free pick-up service for your Apple device anywhere in the city. Simply use the
                    scheduling option in the menu to book a pick-up time for your iPhone repair in Mumbai.</span>
            </div>
            <div class="col-lg-4 col-md-4 mt-4" id="five">
                <div class="icon-box">

                    <h3>Onsite Repair</h3>
                    <i class="bi bi-building-up" style="color: #780891;"></i>
                </div>
                <p></p>
                <span class="hidden">We provide both onsite repairs and free pick-up and delivery for your devices. Whether it's any
                    Apple product repair in Mumbai, we'll send our technicians directly to your home, office, or even a
                    coffee shop.</span>
            </div>
            <div class="col-lg-4 col-md-4 mt-4" id="six">
                <div class="icon-box">

                    <h3>Price Guarantee</h3>
                    <i class="bi bi-currency-rupee" style="color: #e80368;"></i>
                </div>
                <p></p>
                <span class="hidden">We will match any price offered by third-party service providers. Our prices are lower than those
                    of authorized service centers for Macbook, iPhone, iPad, iMac and iPod repairs in Mumbai, for
                    identical work.</span>
            </div>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="300">
            <div class="col-lg-4 col-md-4 mt-4" id="seven">
                <div class="icon-box">

                    <h3>No charge for Diagnosis</h3>
                    <i class="bi bi-wallet" style="color: #b2904f;"></i>
                </div>
                <p></p>
                <span class="hidden">We don’t charge for opening your device and performing a non-invasive diagnostic check, whether
                    it’s for iPhone, iPad, Macbook, iMac, iPod, Apple Watch repair in Mumbai.</span>
            </div>
            <div class="col-lg-4 col-md-4 mt-4" id="eight">
                <div class="icon-box">

                    <h3>No Fix, No Charge</h3>
                    <i class="bi bi-wrench-adjustable" style="color: #b20909;"></i>
                </div>
                <p></p>
                <span class="hidden">In the rare event that we cannot repair your device, we will charge you nothing and issue a full
                    refund, whether it's for any Apple Product in Mumbai.</span>
            </div>
            <div class="col-lg-4 col-md-4 mt-4" id="nine">
                <div class="icon-box">

                    <h3>Fireproof Safe for your devices</h3>
                    <i class="bi bi-fire" style="color: #18144d;"></i>
                </div>
                <p></p>
                <span class="hidden">Our MACFIXXIT store is equipped with burglar-proof and fire-proof safes to securely store your
                    devices, ensuring their safety in the unlikely event of a force majeure situation.</span>
            </div>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="300">
            <div class="col-lg-4 col-md-4 mt-4" id="ten">
                <div class="icon-box">

                    <h3>GST Invoices for Tax Credit</h3>
                    <i class="bi bi-percent" style="color: #ffa76e;"></i>
                </div>
                <p></p>
                <span class="hidden">We are a GST-registered company and provide GST invoices for all customers, allowing you to offset
                    your GST liabilities with a tax credit on repairs.</span>
            </div>
            <div class="col-lg-4 col-md-4 mt-4" id="eleven">
                <div class="icon-box">

                    <h3>Instant Customer Service</h3>
                    <i class="bi bi-person-hearts" style="color: #ff5828;"></i>
                </div>
                <p></p>
                <span class="hidden">Our customer service portal is omni-channel, ensuring we can respond to your queries through
                    phone, SMS, WhatsApp, email, and Google Messaging, with a 5-minute callback SLA.</span>
            </div>
        </div>
    </div>

</section> <!-- End Features Section -->