<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-sm-3 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="/about">About us</a></li>

                    </ul>
                </div>

                <div class="col-sm-3 footer-contact">
                    <h4>Our Services</h4>
                    <ul>
                        <li><a routerLink="/iPhone-repair">iPhone Repair</a></li>
                        <li><a routerLink="/iPad-repair">iPad Repair</a></li>
                        <li><a routerLink="/macbook">MacBook Repair</a></li>
                        <li><a routerLink="/imac">iMac Repair</a></li>
                        <li><a routerLink="/apple-watch">Apple Watch Repair</a></li>
                        <li><a routerLink="/iPod">iPod Repair</a></li>
                    </ul>
                </div>

                <div class="col-sm-3 footer-info">
                    <h4>Contact us</h4>

                    <p>
                        MACFIXXIT Center<br>
                        Shop No-5143,5th Floor,Nathani Heights<br>
                        Commercial Arcade,Dr.D.B Marg &<br>
                        Bellasis Road,Opp.Mumbai Central Station<br><br>
                        <strong>Phone:</strong> +91-7021364630<br>
                        <strong>Email:</strong>ssdubey1010&#64;gmail.com<br>
                    </p>

                </div>

                <div class="col-sm-3 footer-info">
                    <h3>About MACFIXXIT</h3>
                    <p>MACFIXXIT provides Apple iPhone, iPad, iMac, MacBook, iPod, Apple Watch repair in Mumbai.</p>
                    <div class="social-links mt-3">
                        
                        <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
                        <a href="https://www.facebook.com/profile.php?id=100028703884791&mibextid=ZbWKwL" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/mac_fixxit/profilecard/?igsh=OTlwaGFpaGswMmhm" class="instagram"><i class="bi bi-instagram"></i></a>
                        <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright  <strong><span>MACFIXXIT</span></strong>. All Rights Reserved
        </div>
    </div>
</footer>