<app-header></app-header>

<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <h1>About MACFIXXIT</h1>

    </div>
</section>
<section id="about" class="about">
    <div class="container">

        <div class="row">
            <!-- <div class="col-lg-6">
                <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div> -->
            <div class="col-lg-6 pt-4 pt-lg-0 content">


                <p>
                    MACFIXXIT is an independent provider of IT mobility and end user computing Services to both, the home consumer and businesses.
                    In today's digital world, the reliance on mobile and end-user computing devices is pervasive. MACFIXXIT is there to ensure continuity
                    of operations for Businesses as well as for individuals.
                </p>

                <p>
                    MACFIXXIT specializes in onsite repair for Businesses and Individuals. Devices purchased online, typically have one (1) year of warranty,
                    MACFIXXIT can help you cover your device even after the manufacturer's warranty expires.
                </p>

                <p>
                    <b>We have a NPS Score of +55 for 2023 that we worked hard for.</b>
                </p>

            </div>
        </div>

    </div>
</section>
<app-footer></app-footer>