<app-header></app-header>
<br>
<section id="featured" class="featured">
    <div class="container">



        <div class="row">
            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    
                    <h3>iMac Display Replacement</h3>
                    <i class="bi bi-laptop"></i>
                    <p>MACFIXXIT provides iMac screen and Retina display replacement services for all iMac models. At our Apple service center in Mumbai, we ensure a four-hour turnaround for Retina display replacements.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    
                    <h3>HDD to SSD Upgrade</h3>
                    <i class="bi bi-device-ssd-fill"></i>
                    <p>We also offer HDD-to-SSD upgrades for all iMacs. Our certified technicians in Mumbai perform this upgrade with a turnaround time of just one hour.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    
                    <h3>iMac Logic Board Repair</h3>
                    <i class="bi bi-motherboard"></i>
                    <p>For Logic Board repairs, MACFIXXIT specializes in chip-level repair for iMacs. Our Apple Service Centre in Mumbai provides certified Logic Board and Motherboard repairs with a three-day turnaround time.</p>
                </div>
            </div>

        </div>

        <p></p>
        
        <div class="row">

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    
                    <h3>iMac Memory Upgrade</h3>
                    <i class="bi bi-sd-card"></i>
                    <p>We can upgrade your iMac's memory to high-speed DRAM, with capacities of up to 512 GB for the iMac Pro. Our repair centers supply DDR3 and DDR4 memory modules for all upgradeable iMac models.</p>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    
                    <h3>iMac Data Recovery</h3>
                    <i class="bi bi-memory"></i>
                    <p>Our team also handles data recovery for non-functional iMacs. This is a highly precise task requiring specialized equipment, and we offer a three-day turnaround time due to its complexity.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    
                    <h3>iMac Audio Speakers</h3>
                    <i class="bi bi-speaker"></i>
                    <p>For iMac audio needs, we provide speaker replacements, including support for up to 6-speaker surround audio. Our certified service ensures replacements are completed within one hour.</p>
                </div>
            </div>

        </div>

    </div>

</section><br>
<app-middle-section></app-middle-section><br>
<app-form></app-form><br>
<app-footer></app-footer>

